.App {
  text-align: center;
  margin-top: 50px;
}

.day {
  width: 100px;
  display: inline-block;
}

.calendar-cell {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  display: inline-block;
  margin: 5px;
}

.events {
  margin-top: 10px;
}

.event {
  background-color: #f0f0f0;
  padding: 5px;
  margin-bottom: 3px;
}

button {
  margin-top: 10px;
}
